*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(236, 235, 234);
}


/*Config de modos*/

.light.dark{
    transition: 0.2s ease-in-out;
 background-color: #232323;
 color: white;
}
.cabecalho.dark{
    transition: 0.2s ease-in-out;
font-family: Georgia, 'Times New Roman', Times, serif;
font-variant: small-caps;
 background-color: #0000006b;
 color: white;
 border-bottom: 2px solid white;
}

.cabecalho.dark a{
    color: white;
}
.cabecalho.dark button .fa-moon{
    color: white;
}

.card-lista.dark .card-item{
    background-color: #232323;
    color: white;
}

.card-lista.dark .messagem{
    background-color: whitesmoke;
}
.card-lista.dark .messagem:hover{
    background-color: rgba(255, 255, 255, 0.911);
}

/*Config do cabeçalho*/

header{
   
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    transition: all .3s ease-in-out;
    
}
.cabecalho{
    background-color: lightgray;
    border:none;
    color: rgb(0, 89, 255); 
 
}

.cabecalho a{
    color: rgb(0, 89, 255); 
    font-weight: 700;  
    font-stretch: expanded;
}

.mudar{
    background-color: rgb(174, 175, 131);
    font-variant: small-caps;
}

.mudar.dark{
    background-color: #000000f6;
    color: #fff;
}

.mudar.dark button .fa-moon{
    color: white;
}

.mudar a{
    
    font-weight: 700;
    font-variant: small-caps;
}

.dark .rodape{
    background-color: #000000f6;
    color: white;
}


/*Config do menu*/

nav{
    display: flex;
}

nav.menu-mobile{
    display: none;
}


nav ul{
display: flex;
margin-top: 12px;
}

nav ul li{
    margin-left: 9px;
    padding-left: 5px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}

nav ul li a:hover{
    transition: .7s;
   
    text-decoration: underline;
    padding: 5px;
    border-radius: 9px;
}
nav ul li i{
    margin-left: 5px;
}

.fa-hand-paper{
    color: rgb(0, 102, 255);
    font-size: 12px;
}

button{
    margin-left: 9px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

button .fa-moon{
    font-size: 26px;
    transition: .6s ease-in-out;
    
     padding: 3px;
}

button .fa-moon:hover{
    border-radius: 50%;
   
    background-color: rgb(63, 62, 62);
    color: rgb(255, 249, 249);
    transform: translateY(2px);
    transform: rotateY(190deg);
}


/*Config do main*/
main{
 padding: 15px;
 min-height: 100vh;


}

section{
    margin-top: 12px;
}
 p{
    font-weight: 400;
    font-size: 17px;
   transition: 0.7s ease-in-out;
  
}


.esconder{
  
    transform: translateY(12px);
}

.aparecer{
transform: translateY(0);
opacity: 1;
}

@keyframes esconde {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
main h1{
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;

 margin-top: 90px;
 margin-bottom: 6px;
 font-size: 2.2pc;
 padding-bottom: 20px;
 font-weight: 700;
}

main h3, h2{
    font-family: Arial, Helvetica, sans-serif;
    animation: esconde .6s ease-in-out;
    margin-bottom: 6px;
    font-size: 1.4pc;
}

/*Config imagens*/
div.img{
 display: flex;

 padding: 4px;
 /* animation: rotate 20s lin infinite;
 transform-style: preserve-3d; */

}

#img{
    margin-bottom: 17px;
    padding-bottom: 12px;
    
   
    
    transition: .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
}

/*span{
    position: absolute;
    top: 87%;
    left: 5%;
    color: white;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
   
}*/


/*Desporto*/
    #img1{
        background-image: url("imagens/desp01.jpg");
        background-size:cover;
    background-position: center;
    color: white;
    
    }
    #img2{
        background-image: url("imagens/desp03.jpg");
        background-size:cover;
    background-position: center;
    color: white;
    
    }
    #img3{
        background-image: url("imagens/desp02.jpg");
        background-size:cover;
    background-position: left center;
    color: white;
    }
    #img4{
        background-image: url("imagens/desp04.webp");
        background-size:cover;
    background-position: center center;
    color: white;
    }

    #img5{
    background-image: url("imagens/desp05.webp");
    background-size:cover;
    background-position: center;
    color: white;

    }

    #img6{
        background-image: url("imagens/desp06.webp");
    background-size:cover;
    background-position: center;
    color: white;
    }
    #img7{
        background-image: url("imagens/desp07.webp");
    background-size:cover;
    background-position: center center;
    color: white;
    }

    /*Tecnologia*/
    #img8{
        background-image: url(imagens/tecno01.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img9{
        background-image: url(imagens/tecno02.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img10{
        background-image: url(imagens/tecno03.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img11{
        background-image: url(imagens/tecno04.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }

   
    #img12{
        background-image: url(imagens/tecno06.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img13{
        background-image: url(imagens/tecno07.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    } 
    
   
    #img14{
        background-image: url(imagens/tecno08.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    } 

    /*Politica*/
    #img15{
        background-image: url(imagens/poli01.jpg);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img16{
        background-image: url(imagens/poli02.jpg);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img17{
        background-image: url(imagens/poli03.jpg);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img18{
        background-image: url(imagens/poli04.jpg);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img19{
        background-image: url(imagens/poli05.jpg);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img20{
        background-image: url(imagens/poli06.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img21{
        background-image: url(imagens/poli07.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }


    /*Natureza*/
    #img22{
        background-image: url(imagens/nat01.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img23{
        background-image: url(imagens/nat02.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    
    }
    #img24{
        background-image: url(imagens/nat03.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img25{
        background-image: url(imagens/nat04.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img26{
        background-image: url(imagens/nat05.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img27{
        background-image: url(imagens/nat06.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }
    #img28{
        background-image: url(imagens/nat07.webp);
    background-size:cover;
    background-position: center center;
    color: white;
    }



    .card-lista .card-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     width: 400px;
     padding: 35px;
     height: 380px;
     border-radius: 8px;
     background-color: lightgray;
     border: 1px solid rgba(255, 255, 255, 0.2);
    }

.card-lista .card-item .user-imagem{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;

}

.card-lista .card-item .texto{
    font-weight: 500;
   font-size: 15px;
    margin: 14px 0 40px;
}

.card-lista .card-item .messagem{
    font-size: 15px;
    padding: 6px 9px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    background-color: #fff;
}

.card-lista .card-item .messagem:hover{
    background-color: rgba(149, 162, 175, 0.671);
}

.slider-wrapper{
max-width: 800px;
    margin: 0 70px 55px;
}
    

/*div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}



div.card-item{
    background-color: lightgray;
    border-radius: 8px;
    width: 270px;
   
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

div.card-item h2{
   
    margin-bottom: 4px;
}

div.card-item .profissao{
   font-weight: 600;
   font-size: 12px;
    margin-bottom: 5px;
}

div.card-item img{
    margin-bottom: 17px;
    padding-bottom: 12px;
    border-radius: 50%;
    width: 150px;
    height: 160px;
    
}

div.card-item .messagem{
    padding: 6px;
    font-weight: 500;
    
    border-radius: 6px;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    
}

div.card-item .messagem:hover{
    background-color: rgba(149, 162, 175, 0.671);
}*/

@keyframes rotate {
    0%{
        transform: perspective(1200px) rotateY(0deg);
    }

    100%{
        transform: perspective(1200px) rotateY(360deg);
    }
}

/*Config formulário*/

div.campo{
    display: flex;
   margin-left: 19px;
    flex-wrap: wrap;
}

input[type="submit"]{
    width: 80px;
    background-color: rgba(0, 92, 212, 0.897);
    border: none;
    padding: 5px 3px;
    border-radius: 2px;
    transition: .4s;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 500;
    margin-top: 10px;
}

input[type="submit"]:hover{
    transform: translateY(-2px);
    box-shadow: 3px 1px 5px rgb(0, 225, 255);
    
}

footer{
    background-color: rgb(174, 175, 131);
    color: white;
    padding: 15px;
   
}


footer p{
    text-align: center;
    font-style: oblique;
    font-weight: 500;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    margin-left: 9px;
}

footer ul li a i{
    font-size: 19px;
    color: white;
}


@media screen and (min-width:460px) and (max-width:800px) {
    
    header{
        display: flex;
        justify-content: space-around;
    }
    span{
        font-size: 13.4px;
    }

    nav{
        display: flex;
    }

    nav ul{
         display: none;
    }

    ul.exibir{
        display: none;
    }

     .expandir{
        display: none;
    }

   

   .expandir.exibir{
        display: block;
    }

    .expandir.exibir li{
        margin-top: 9px;
    }

    nav.menu-mobile{
        display: block;
        padding: 5px;
    }

    .fa-list{
        margin-top: 8px;
        cursor: pointer;
        font-size: 22px;
    }

    button .fa-moon{
        font-size: 28px;
       
    }
   

}